@use "../utilities/flow" as *;
@use "../abstracts/breakpoints" as *;

.card__container {
  position: relative;
  margin-block: 5rem;
  border-radius: 15px;

  @include mq(large) {
    margin-inline: 2rem;
    cursor: pointer;
  }
}



.background {
  position: absolute;
  border-radius: 6px;
  width: 50%;
  background-color: white;
  top: -10%;
  left: calc(-20vw + 100px);
  height: 25rem;
  width: min(20rem, 40vw);
  z-index: -9999;
  transition: all 500ms ease;

  @include mq(large) {
    left: 25%;
    height: 40rem;
    width: 10rem;
    transform: skew(15deg);
  }

  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(20px, 6px, 0) scale(1.06);
    filter: blur(30px);
    opacity: var(0.66);
    transition: opacity 0.3s;
    border-radius: inherit;
  }

  /* 
  * Prevents issues when the parent creates a 
  * stacking context. (For example, using the transform
  * property )
  */
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
}

.bg_sedan {
  background-image: linear-gradient(to right bottom, #fd3a48, #ff553a, #ff6d2b, #ff8419, #fe9a00);

  &:before {
    background: linear-gradient(to bottom, #fd3a48 0%, #fe9a00 100% );
  }
}

.bg_suv {
  background-image: linear-gradient(to right bottom, #33d6d9, #00e1c9, #00e9a8, #00ef77, #51f12a);

  &:before {
    background: linear-gradient(to bottom, #33d6d9 0%, #51f12a 100% );
  }
}

.bg_luxury {
  background-image: linear-gradient(to right bottom, #004241, #015c5c, #017679, #019298, #00afb9);

  &:before {
    background: linear-gradient(to bottom, #004241 0%, #00afb9 100% );
  }
}

.card {
  padding: 3rem;

  @include flex(1.5rem, column, space-around, flex-start);

  background: rgba( 5, 0, 32, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );

  p {
    max-width: 25ch;
  }

  img {
    width: 7rem;
    filter: brightness(0) saturate(100%) invert(98%) sepia(7%) saturate(618%) hue-rotate(225deg) brightness(119%) contrast(100%);
  }

  @include mq(large) {
    &:hover + .background{
      width: 15rem;
      transform: skew(0deg);
      left: 15%;
    }
  }
}